services:
  mongodb:
    image: mongo:8.0-noble
    container_name: mongodb
    ports:
      - "27007:27017"
    volumes:
      - ./mongodb:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      
    networks:
      - backend
    restart : always
  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector
    ports:
      - "5433:5432"
    volumes:
      - "./pgvector_data:/var/lib/postgresql/data"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - backend
    restart : always

networks:
  backend:

volumes:
  mongodb:
  pgvector_data: